---
import Steps from "../components/Steps.astro";
import Testimonial from "../components/Testimonial.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="grid gap-12 container">
    <Steps />
    <Testimonial />
  </div>
</BaseLayout>
